*{
    margin: 0%;
   /* padding: 0%;*/
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
/*navi-sec*/
.parent-navi{
     max-width: 1170px;
   margin: 0px auto;
     font-size: 18px;
}
.navi-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
   height: 114px;
   width: 1000px; 
} 

.navi-sec .child1{
    font-family: Volkhov;
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap:10px;

}
.navi-sec .child2{
     font-family: Poppins;
    
    line-height: 24px;

}
.navi-sec .child2 ul {
    display: flex;
    list-style: none;
    align-items: start;
    gap:20px;
    color: #222222;
}
.navi-sec .child3{
     font-family: Poppins;
  
     font-weight: 600;
     display: flex;
     align-items: center;
     justify-content: center;
     gap:40px;

}
.navi-sec .child3 .btn1{
    color: rgb(253,141,58);
    width: 44px;
    height: 24px;
    border: none;
    padding: none;
    

}
.navi-sec .child3 .btn2{
    border:none;
     border-radius: 9px;
    background-color:rgb(250,116,54);
     color: white;
     width: 160px;
     height: 50px;
     font-size: 18px;
     
}
/*home sec*/
.parent-home{
     max-width: 1170px;
   margin: 0px auto;
   display: flex;
     

}
.parent-home .home-sec{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 486px;
    width: 521px;
    
}
.home-sec .home-child{
    display: flex;
 
    margin-top: 50px;
     font-family: Volkhov;
    font-size: 64px;
    line-height: 70px;
    font-weight: 40px;
    object-fit: cover;
}
.home-sec .homee{
   color:rgb(250,116,54);
}
.home-sec .home-childi{
     height: 120px;
    width: 497px;
     color: #666666;
     font-family: poppins;
    font-size: 20px;
    object-fit: cover;
}
.home-sec .homee2 button{
    color:rgb(250,116,54);
     font-size: 20px;
     padding: 10px;
     border: 1px solid rgb(250,116,54);
     border-radius: 9px;
     background-color: white;
    
}
.home-child1{
 position: relative;
     z-index: 40px;
}
.home-child1::after{
    content: " ";
    height:550px ;
    width:500px ;
    position:absolute;
    border-radius: 50%;
    transform: translateX(-460px);
    background-color:rgb(250,116,54);
    clip-path:inset(50%  0  0 0);
    z-index:-1;
}
.home-child1 .img-child img{
 height: 30px;
 width: 30px;

}
.home-child1 .img-child{
    display: flex;
    gap: 5px;
    position: absolute;
    font-family: poppins;
    font-size: 16px;
    color: rgb(68,68,68);
    font-weight: 300px;
    line-height:auto;
    top:90px;
 transform: translatex(-48px);
 border: 2px solid white;
 border-radius:9px;
 background-color: #ffffff;
 padding: 10px;
 z-index: 1;
}
.home-child1 .img-child1{
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    font-family: poppins;
    font-size: 12px;
    color: rgb(68,68,68);
    font-weight: 300px;
    line-height:auto;
    top:220px;
    right:20px;
 border: 2px solid white;
 border-radius:9px;
 background-color: white;
 padding: 10px;
 box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
 
}
.home-child1 .img-child2{
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    font-family: poppins;
    font-size: 12px;
    color: rgb(68,68,68);
    font-weight: 300px;
    line-height:auto;
    top:330px;
    left: 0px;
     border: 2px solid white; border-radius:9px;
 background-color: white;
 padding: 10px;
 
}
.parent-home1{
     max-width: 1170px;
   margin: 0px auto;
   }
.home-child2{
    font-family: poppins;
    background-color: white;
    height: 54px;
    width: 700px;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  padding: 10px;
  
}
.home-child2 i{
    color:rgb(250,116,54);
}
.home-child2 .location{
    
 display: flex;
 flex-direction: row;
 width:126px ;
 flex-wrap: wrap;
 
}
.home-child2 .live-loc{
    font-size: 12px;
    color: #444444;

}
.home-child2 .date{
 display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 width:101px;
 
}
.home-child2 .live-date{
    font-size: 12px;
    color: #444444;

}
.home-child2 .guest{
 display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 width:101px;
 
 
}
.home-child2 .live-guest{
    font-size: 12px;
    color: #444444;

}
.home-btn button{
    border:none;
     border-radius: 9px;
     background-color:rgb(250,116,54);
      width: 160px;
     height: 40px;
     color: white;
     font-size: 16px;

}
/*need sec*/
.parent-need{
    max-width: 1170px;
   margin: 0px auto;
   
}
   .parent-need .need-child1{
  display: flex;
   margin-top: 30px;
     font-family: Volkhov;
    font-size: 50px;
    line-height: 70px;
    font-weight: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }
   .need-child1 .todo{
    color: rgb(250,116,54);
   }
   .need-sec .need1{
    margin-top: 10px;
    display: flex;
    font-size: 22px;
     font-family: poppins;
      color: #666666;
      justify-content: center;
    align-items: center;
   }
    .need-sec .need2{
    margin-top: 5px;
    display: flex;
    font-size: 22px;
    font-family: poppins;
    padding-left: 50px;
    color: #666666;
    justify-content: center;
    align-items: center;
    }
   .need-sec1{
    display: flex;
    justify-content: center;
      margin-top:60px;
      gap:20px;
   }
   .need-sec1 .need-img1 {
    
    min-height:150px;
    width:250px;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

   }
   .need-sec1 .need-img1 img{
    height:32px;
    width:32px;
   }
   .need-sec1 .need-img1 h2{
    font-size: 16px;
    margin-top:50px;
   }
   .need-sec1 .need-img1 p{
      font-size: 14px;
    margin-top:10px;
    color: #666666;
   }
   /*deal sec*/
.parent-deal{
     max-width: 1170px;
   margin: 0px auto;
   background-color: #fefcfb;
   }
  
   .deal-sec .deal-child1{
    display: flex;
   margin-top: 30px;
     font-family: Volkhov;
    font-size: 50px;
    line-height: 70px;
    font-weight: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .deal-child1 .deal{
        color: rgb(250,116,54);
    }
    .deal-sec .deal1{
    margin-top: 10px;
    display: flex;
    font-size: 22px;
     font-family: poppins;
      color: #666666;
      justify-content: center;
    align-items: center;
   }
    .deal-sec .deal2{
    margin-top: 5px;
    display: flex;
    font-size: 22px;
    font-family: poppins;
    padding-left: 50px;
    color: #666666;
    justify-content: center;
    align-items: center;
    }
    .deal-child2{
        display:flex;
      margin-top: 50px;
      gap:10px;
    }
    .deal-child2 .deal-box1 {
        height: 290px;
        width: 190px;
        border: 0.5px solid lightgrey;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        position: relative;
    }
    .deal-child2 .deal-box1 img{
        height: 190px;
        width: 190px;
        
    }
    .dealImage{
      width:100px;
      height:40px;
      border-radius:9px;
      background:rgb(250, 116, 54);
      position: absolute;
      color: white;
      top:35%;
      left:20%;
      border:none;
      font-size:16px;
      transition: all 0.2s;
      opacity:0;
    }
     .dealImage:hover{
      opacity:1;
    }
    
    .deal-box1 .img-deal{
        display: flex;
        justify-content: space-between;
        font-size:16px;
        margin-top:20px;
        padding: 5px;
    }
    .deal-box1 .img-deal1{
        display: flex;
        font-size: 14px;

       
    }
    .deal-box1 .img-deal1 img{
        height:10px;
        width: 10px;
       
    }
    .deal-box1 .img-deal2{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        color: #666666;
    }
    .img-deal2 .deal-img1{
        display:flex;
        display: 5px;
    }
    .img-deal2 .deal-img2{
        display:flex;
        transform: translateX(15px);
        text-decoration-line: line-through;
    }
     .img-deal2 .deal-img3{
        display:flex;
        background-color: #ffe7db;
        color:rgb(250,116,54);
        padding: 2px 5px;
        margin-right:5px;
        border-radius: 4px;
        
    }
    .deal-arrow{
        display: flex;
        justify-content:center;
        height:20px;
        gap:20px;
        
        margin: 40px 0px;
    }
    .deal-arrow .deal-arr1{
       border: 1px solid gray;
        border-radius: 50%;
       color: gray;
       
    }
    .deal-arrow .deal-arr2{
        border: 1px solid rgb(250,116,54);
        border-radius: 50%;
        background-color:rgb(250,116,54);
        position: relative;
        color: white;
    }
    /*vac sec*/
    .parent-vacation{
     max-width: 1170px;
   margin: 0px auto;
   
   }
  
   .vac-sec .vac-child1{
    display: flex;
   margin-top: 30px;
     font-family: Volkhov;
    font-size: 50px;
    line-height: 70px;
    font-weight: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .vac-child1 .vac{
        color: rgb(250,116,54);
    }
    .vac-sec .vac1{
    margin-top: 10px;
    display: flex;
    font-size: 22px;
     font-family: poppins;
      color: #666666;
      justify-content: center;
    align-items: center;
   }
    .vac-sec .vac2{
    margin-top: 5px;
    display: flex;
    font-size: 22px;
    font-family: poppins;
    padding-left: 50px;
    color: #666666;
    justify-content: center;
    align-items: center;
    }
    .vac-arrow{
        display: flex;
        justify-content:center;
        transform:translateX(280px) ;
        height:20px;
        gap:20px;
        margin: 20px 0px;
    }
    .vac-arrow .vac-arr1{
       border: 1px solid gray;
        border-radius: 50%;
       color: gray;
       
    }
    .vac-arrow .vac-arr2{
        border: 1px solid rgb(250,116,54);
        border-radius: 50%;
        background-color:rgb(250,116,54);
        position: relative;
        color: white;
    }
    .vac-child2{
        
        width: 1000px;
        height: 300px;
        display:flex;
        gap:20px;
        margin-top: 10px;
        justify-content: center;
    }
    .vac-box1{
        height:300px;
      width:200px;  
      background: #fefcfb;
      border: 0.5 solid lightgrey;
      border-radius: 4px;
      box-shadow:1px 2px 2px rgba(0,0,0,0.8);
    }
  .new-child{
    display: flex;
    justify-content: space-between;
    font-size:16px;
    margin-top:30px;
    padding:0px 5px;
  }
  .vac-box1 img{
    height:200px;
    width:200px;
  }
  .new-child .new-child2{
    color:rgb(250,116,54);
  }
  .old-child{
    display:flex;
    justify-content: space-between;
    font-size:14px;
    color: #666666;
    padding:0px 5px;
    margin-top: 20px;;
  }
  .old-child .vac-icon1{
    display: flex;
  }
  .old-child .vac-icon2{
    color:rgb(250,116,54);
  }
  .old-child .vac-s{
    display: flex;
  }
  .old-child .vac-s1 img{
    height:10px;
    width:10px;
  }
  /* adout sec*/
  .parent-about{
     max-width: 1170px;
   margin: 0px auto;
   display: flex;
   justify-content: space-around;
}
.parent-about .about-sec{
    display: flex;
    align-items: flex-start;
  height: 486px;
    width: 450px;
    flex-direction: column;
}
.about-sec .about-child{
    display: flex;
   margin-top: 50px;
     font-family: Volkhov;
    font-size: 50px;
    font-weight: 40px;
    object-fit: cover;
}
.about-sec .aboutt{
    color: rgb(250,116,54);
}
.about-sec .about-childi{
     height: 80px;
    width: 450px;
      font-family: Volkhov;
      color: #666666;
    font-size: 20px;
   display: flex;
    font-weight: 40px;
    line-height:30px;
    margin-top:  20px;;
}
.about-arrow{
        display: flex;
        justify-content:center;
        height:20px;
        gap:20px;
        margin: 10px 0px;
    }
    .about-arrow .about-arr1{
       border: 1px solid gray;
        border-radius: 50%;
       color: gray;
       
    }
    .about-arrow .about-arr2{
        border: 1px solid rgb(250,116,54);
        border-radius: 50%;
        background-color:rgb(250,116,54);
        position: relative;
        color: white;
    }
    .aboutus{
  font-size: 17px;
  line-height: 1.5;
  font-family:volkhov;
  margin-top: 80px;
  width: 400px;
  height: 200px;
  padding: 23px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  position: relative;
}
.overlay{
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 200px;
  background-color: #fcf8fc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.3;
  border-radius: 9px;
  z-index: -1;
  position: absolute;
  top: 40%;
  left:10%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.aboutUs_child{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
 
.move2{
  margin-left: 20px;
  margin-bottom: 20px;
}
.aboutUsimage{
  width: 50px;
  height: 50px;
  background-color: rgb(250,116,54);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: -20%;
  transform: translate(130%, 1%);
}
/*blog sec*/
 .parent-blog{
     max-width: 1170px;
   margin: 0px auto;
   background-color: #fefcfb;
   }
  
   .blog-sec{
    display: flex;
   margin-top: 30px;
     font-family: Volkhov;
    font-size: 50px;
    line-height: 70px;
    font-weight: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .blog-sec .blogg{
        color:rgb(250,116,54);
    }
    .child-blog{
      margin-top:40px;
      background:#fefcfb;
      display: flex;
      flex-direction: row;
       justify-content: center;
    align-items: center;
    gap:20px;
      }
    .blog-box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width:200px;
    border:none;
    }
     .blog-box1:hover{
       box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
       border-radius:4px;
       border:0.8px solid #999;
      }
   .blogImage{
      object-fit: cover;
      width:200px;
      height:200px;
    }
    .pa1{
      margin-top:20px;
      font-family: Volkhov;
      padding:0px 7px ;
    }
    .pa2{
       margin-top:15px;
      font-family: Volkhov;
      padding:0px 7px ;
      color: #666666;
      }
 .dot-blog{
   width:1000px;
   height:60px;
   position: relative;
   margin:50px;
   text-align: center;
   
   }
 .dt1{
  background-color:#999;
  border-radius:50%;
  height:8px;
  width:8px;
  position:absolute;
  top:10px;
  left:485px;
 }
 .dt2{
   top:9px;
  left:500px;
  height:10px;
  width:10px;
  border-radius:50%;
 background-color:rgb(250,116,54);
 position:absolute;
 }
 .dt3{
   top:10px;
  left:515px;
   background-color: #999;
  border-radius:50%;
  height:8px;
  width:8px;
  position:absolute;
 }
 .parent-sub{
     max-width: 1170px;
   margin: 0px auto;
   background-color:rgb(250,116,54);
   border-radius:9px;
   }
   .subb-child1{
    color: #fcf8fc;
   margin-top: 30px;
     font-family: Volkhov;
    font-size: 50px;
    line-height: 70px;
    font-weight: 40px;
    text-align: center;
    padding-top:60px;
}
.subb-child2 input{
  margin:50px 0px;
  height:50px;
  width:550px;
  left:270px;
  position: relative;
  border:none;
  border-radius:9px;
  
  }
  .subb-child2 .isubb{
   position: absolute;
   color: #999;
   left:31%;
   top:502.5%;
   }
    .subb-child2 .subb{
   position: absolute;
   color:white;
   left:60%;
   top:501%;
   padding:10px 20px;
   background-color:rgb(250,116,54);
   border:none;
   border-radius:9px;
   }
   /*footer sec*/
   .parent-footer{
     max-width: 1170px;
   margin: 0px auto;
   display: flex;
    justify-content: space-between;
    background-color: #fefcfb;
   
   }
   .footer1{
    display:flex;
   
    height:200px;
    width:250px;
    margin-top:50px;
    flex-direction: column;
    }
   .footer1 p{
    font-size:16px;
    color: #666666;
    font-family:poppins;
    margin-top:20px;
   }
   .foot-child1{
    display: flex;
    gap:3px;
    font-family:poppins;
   }
   .foot-child2{
    display: flex;
    margin-top:20px;
    gap:10px;
}
.foot {
  border-radius:50%;
  background-color: #fcf8fc;
  font-size:15px;
  padding:10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.ifoot {
  border-radius:50%;
  background-color:rgb(250, 116, 54);
  font-size:15px;
  padding:10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  
}
.ifoot1 {
  border-radius:50%;
  background-color: #fcf8fc;
   font-size:15px;
  padding:10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.footer2{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  gap:10px;
  width:140px;
  height:210px;
 }
 .footer2 p{
  
   font-family:poppins;
  font-size:16px;
  color: #666666;
 }